<nav class="navbar navbar-without">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">Reader</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>To do</a></li>
                        <li><a>To do</a></li>
                        <li><a>To do</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" method="GET" action="http://www.google.com/search">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Find a Document">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>

<section class="container">
    <div class="row">
        <div class="text-center">
            <h1>Zezinho Home</h1>
            <div class="alert alert-dismissible alert-success text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Wow!</strong> Here will stay your announcements. <a href="#" class="alert-link">This important alert message</a>.
            </div>
            <hr>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Your Documents</h3>
                </div>
                <div class="panel-body">
                    <p class="text-primary">document.txt</p> <br> curriculum.txt
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Folders</h3>
                </div>
                <div class="panel-body">
                    OtherDocuments
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="text-justified">
                <marked>
                    ## Testing Markdown
                    *It works!*
                    > This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
                    Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.

                    > Donec sit amet nisl. Aliquam semper ipsum sit amet velit. Suspendisse
                    id sem consectetuer libero luctus adipiscing.
                </marked>
            </div>
        </div>
    </div>
</section>
