<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">Reader 1.0</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>To do</a></li>
                        <li><a>To do</a></li>
                        <li><a>To do</a></li>
                    </ul>
                </li>
            </ul>
        
            <form class="navbar-form navbar-right" method="GET" action="http://www.google.com/search">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Find a Document">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>

<section class="container">
    <div class="row">
        <div class="text-center">
            <h2>Zezinho Home</h2>
            <div class="alert alert-dismissible alert-success text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Wow!</strong> Here will stay your announcements. <a href="#" class="alert-link">This important alert message</a>.
            </div>
            <hr>
        </div>
        <div class="col-lg-8">
            <div class="text-center">
                <h3 class="text-primary">Document</h3>
            </div>
            <div class="text-justified">
                <p> Example example example example example example example example example example example example example example
                    example example example example example example example example example example example example</p>
                <p> Example example example example example example example example example example example example example example
                    example example example</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Documents</h3>
                </div>
                <div class="panel-body">
                    <p class="text-primary">document.txt</p> <br> curriculum.txt
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Folders</h3>
                </div>
                <div class="panel-body">
                    OtherDocuments
                </div>
            </div>
        </div>
    </div>
</section>
