<div>
    <!-- Form -->
    <div class="container">
        <div class="row">
            <h2 class="font-bold text-center">Welcome to Reader*{{teste}}</h2>
            <br>
            <div class="col-lg-8 text-justify">
                <p>
                    <strong>Perfectly designed and precisely prepared to read and write your documents.</strong>
                </p>
                <p>
                    <small>*It is not a final product. like any other unstable product defects can be found. You don't have a lot of space.</small>
                </p>
                <div>
                    <h3> Free space: {{ count }}MB for your documents!</h3>
                </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: {{ perc }}%"></div>
                </div>
                <div class="text-right">
                    <small>...and to infinity and beyond</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox-content text-center">
                    <h2>Log in</h2>
                    <form class="m-t" role="form" ng-submit="login()">

                        <div class="form-group">
                            <input ng-model="email" type="email" type="text" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input ng-model="password" type="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a ui-sref="app.home"> Live Demo, </a>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>
                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                            <a class="btn btn-sm btn-white btn-block" ui-sref="app.register">Create an account</a>
                        </p>


                    </form>
                </div>
            </div>
        </div>
        <div>
            <div>
                <blockquote>
                    <p>Amazing editor, perfect to daily tasks.<br>
                        Without doubt the best app of the year.</p>
                    <small>Someone famous in <cite title="Source Title">Silicon Valley</cite></small>
                </blockquote>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Team Reader
            </div>
            <div class="col-md-6 text-right">
                <small>It is not just for a grade © 2016</small>
            </div>
        </div>
    </div>
</div>
