<div class="container text-center">
    <div class="row">
        <div class="col-lg-4">
            <h2> About Reader </h2>
            <ul>
                <li> Easy to use </li>
                <li> Organize your ideas </li>
                <li> Share yout documents </li>
            </ul>
        </div>

        <div class="col-lg-4">
            <div class="ibox-content text-center">
                <h2>Create your account</h2>
                <form class="m-t" role="form" action="index.html">

                    <div class="form-group">
                        <label for="input-name"> Full name </label>
                        <input type="text" class="form-control" placeholder="Full name" id="input-name" required="">
                    </div>

                    <div class="form-group">
                        <label for="input-email"> E-mail address </label>
                        <input type="email" class="form-control" placeholder="your.email@example.com" id="input-email" required="">
                    </div>

                    <div class="form-group">
                        <label for="input-pwd"> Password </label>
                        <input type="password" class="form-control" placeholder="Password" id="input-pwd" required="">
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Create account</button>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="text-center">
                <h3 class="text-primary">Documents like this</h3>
            </div>
            <div class="text-justified">
                <p> Example example example example example example example example example example example example example example
                    example example example example example example example example example example example example</p>
                <p> Example example example example example example example example example example example example example example
                    example example example</p>
            </div>
        </div>
    </div>
</div>
