<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Reader</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Document<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="newCreateModal()"><a href="#">New</a></li>
                        <li ng-click="newEditModal()"><a href="#">Edit</a></li>
                        <li ng-click="showWarningToDelete()"><a href="#">Delete</a></li>
                        <li ng-click="newShareModal()"><a href="#">Share</a><li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Folder<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="newFolderModal()"><a href="#">New</a></li>
                        <li ng-click="newRenameFolderModal()"><a href="#">Rename</a></li>
                        <li ng-click="deleteFolderModal()"><a href="#">Delete</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="whatIsNewModal()"><a href="#">What's new?</a></li>
                <li ng-click="logout()"><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="container" ng-init="getFolders();getSharedWithMe()">
    <div class="row">
        <div class="text-center">
            <h1>{{ username }}</h1>
            <hr>
        </div>
        <div class="col-lg-9 panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h3>{{ currentDocument.title }} {{ currentDocument.extension }} {{ currentDocument.permission }} </h3>
                    Current document id for debug ==> {{currentDocumentId}}
                </div>
                <div class="text-justified">
                    {{ currentDocument.content }}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My Documents</h3>
                </div>
                <div class="panel-body text-left">
                    <tree ng-click="teste" nodes='treeNodes'></tree>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Shared With Me <span class="badge">{{documents_shared_with_me.length}}</span></h3>
                </div>
                <div class="panel-body text-left">
                    <div ng-repeat="document in documents_shared_with_me">
                        <a ng-click="setCurrentDocumentShared($index)" class="btn btn-default btn-xs"> {{ document.name }} </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Create Document Modal -->
<div class="modal" id="newCreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Write your new document =D</h4>
            </div>
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label>Title</label>
                            <input ng-model="newDocument.document_name" class="form-control" />
                            <div class="radio">
                                <label>
                                    <input ng-model="newDocument.document_ext" type="radio" name="optionsRadios" id="optionsRadios1" value=".txt">
                                    .txt
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-model="newDocument.document_ext" type="radio" name="optionsRadios" id="optionsRadios2" value=".md">
                                    .md
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea ng-model="newDocument.document_content" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="createDocument()" type="button" class="btn btn-primary">Save Document</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Document Modal -->
<div class="modal" id="newEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit your document =D</h4>
            </div>
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label>Title</label>
                            <input ng-model="documentToEdit.document_name" class="form-control" />
                            <div class="radio">
                                <label>
                                    <input ng-model="documentToEdit.document_ext" type="radio" name="optionsRadios" id="optionsRadios1" value=".txt">
                                    .txt
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input ng-model="documentToEdit.document_ext" type="radio" name="optionsRadios" id="optionsRadios2" value=".md">
                                    .md
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea ng-model="documentToEdit.document_content" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="updateDocumentOwned()" type="button" class="btn btn-primary">Save Document</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Warning Modal -->
<div class="modal" id="deleteWarningModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2> Danger Zone </h2>
                <p> No ctrl+z for this action! You sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-privary" data-dismiss="modal">Cancel</button>
                <button ng-click="deleteDocument()" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Folder Modal -->
<div class="modal" id="newFolderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <h1>Folder's name:</h1>
                            <input ng-model="newFolder.folder_name" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-privary" data-dismiss="modal">Cancel</button>
                <button ng-click="createFolder()" type="button" class="btn btn-danger">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Rename Folder Modal -->
<div class="modal" id="renameFolderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <h1>Rename the folder:</h1>
                            <input ng-model="newNameFolder.folder_name" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-privary" data-dismiss="modal">Cancel</button>
                <button ng-click="renameFolder()" type="button" class="btn btn-danger">Rename</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Warning Folder Modal -->
<div class="modal" id="deleteWarningFolderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2> Danger Zone </h2>
                <p> No ctrl+z for this action! You sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-privary" data-dismiss="modal">Cancel</button>
                <button ng-click="deleteFolder()" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- What is new modal Modal -->
<div class="modal" id="whatIsNewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron">
                    <h1>What's new?</h1>
                    <p>We heard you! As such, the Reader has changed a litle bit:</p>
                    <p>• A new layout to home view.</p>
                    <p>• New sharing feature!</p>
                    <p>• White background 87% whiter.</p>
                    <p>• Now with 0,2% less bugs.</p>
					<p>• Simple, modern and useful.</p>
                    <p class="text-muted">The changes were made based on the evaluation of UFCG students.</p>
                    <p><a class="btn btn-primary btn-lg" data-dismiss="modal">Got it!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Share Modal -->

<div class="modal" id="shareModal" ng-init="getListOfEmails()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-justify">
                <h1>Share this document</h1>

                {{ listOfEmails }}
                <!--
                <div>
                    <select id="sel" ng-repeat="email in listOfEmails">
                        <option ng-model="sharing.email_to_share" value="{{ email }}">{{ email }}</option>
                    </select>
                </div>-->

                <input ng-model="sharing.other_user_email" class="form-control" />
                <div class="radio">
                    <label>
                        <input ng-model="sharing.permission" type="radio" name="permission" id="editAndViewRadio" value="read">
                        Just can read.
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="sharing.permission" type="radio" name="permission" id="editRadio" value="write">
                        Can read and edit.
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-privary" data-dismiss="modal">Cancel</button>
                <button ng-click="shareDocument()" type="button" class="btn btn-danger">Share</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Shared Document Modal -->
<div class="modal" id="editSharedDocumentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">You can can edit your shared document =D</h4>
            </div>
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label>Title</label>
                            {{currentSharedDocument.title}}
                            {{currentSharedDocument.extension}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea ng-model="documentSharedToEdit.document_content" class="form-control" rows="10" cols="20"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="updateDocumentShared()" type="button" class="btn btn-primary">Edit Document</button>
            </div>
        </div>
    </div>
</div>

<!-- View Shared Document Modal -->
<div class="modal" id="viewSharedDocumentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">You can't edit this shared document </h4>
            </div>
            <div class="modal-body text-justify">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label>Title</label>
                            {{currentSharedDocument.title}}
                            {{currentSharedDocument.extension}}
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label>Content</label>
                            {{currentSharedDocument.content}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
